{{template "base" .}}

{{define "title"}}

{{ end }}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="/static/images/marjors-suite.png"
        class="img-fluid img-thumbnail rounded mx-auto d-block room-image"
        alt="room image"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Major's Suite</h1>
      <p>
        Your home away from home, set on the majestic waters of the Atlanic
        Ocean, this will be a vaction you will remember. Your home away from
        home, set on the majestic waters of the Atlanic Ocean, this will be a
        vaction you will remember. Your home away from home, set on the majestic
        waters of the Atlanic Ocean, this will be a vaction you will remember.
        Your home away from home, set on the majestic waters of the Atlanic
        Ocean, this will be a vaction you will remember. Your home away from
        home, set on the majestic waters of the Atlanic Ocean, this will be a
        vaction you will remember.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <a id="check-availability-button" href="#!" class="btn btn-success"
      >Search Avalibility</a
    >
  </div>

  {{ end }}
</div>

{{define "js"}}

<script>
  let button = document
    .getElementById("check-availability-button")
    .addEventListener("click", function () {
      let html = `
      <form id="check-avail-form" action="" method="post" novalidate class="needs-validation">
        <div class="row">
          <div class="col">
            <div class="row" id="reservation-dates-modal">
              <div class="col">
                <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
              </div>
              <div class="col">
                <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
              </div>
            </div>
          </div>
        </div>
      </form
      `;

      attention.custom({ msg: html, title: "Choose your dates" });
    });
</script>
{{ end }}
