{{template "base" .}}

{{define "title"}}

{{ end }}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img
        src="/static/images/marjors-suite.png"
        class="img-fluid img-thumbnail rounded mx-auto d-block room-image"
        alt="room image"
      />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Major's Suite</h1>
      <p>
        Your home away from home, set on the majestic waters of the Atlanic
        Ocean, this will be a vaction you will remember. Your home away from
        home, set on the majestic waters of the Atlanic Ocean, this will be a
        vaction you will remember. Your home away from home, set on the majestic
        waters of the Atlanic Ocean, this will be a vaction you will remember.
        Your home away from home, set on the majestic waters of the Atlanic
        Ocean, this will be a vaction you will remember. Your home away from
        home, set on the majestic waters of the Atlanic Ocean, this will be a
        vaction you will remember.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <a id="check-availability-button" href="#!" class="btn btn-success"
      >Search Avalibility</a
    >
  </div>

  {{ end }}
</div>

{{define "js"}}

<script>
  let bookNow = BookNowModal();

  bookNow.showForm({
    roomID: bookNow.ROOM_MAJORS_SUIITE,
    CSRFToken: "{{ .CSRFToken }}",
  });
</script>
{{ end }}
